* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-weight: normal;
	font-family: 'Merriweather Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h2,
h3,
h4 {
	line-height: 1;
	font-weight: normal;
}

h1 {
	color: white;
	font-size: 55px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 .thin {
	/* color: #ddd; */
}

.bold {
	font-weight: 800;
	/* letter-spacing: .5px; */
}

.thin {
	font-weight: 300;
	letter-spacing: 2px;
}

header {
	height: 70px;
	width: 100%;
	position: fixed;
	background: white;
	z-index: 50;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

.header-container {
	width: 100%;
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	font-size: 18px;
	display: flex;
	width: 300px;
	height: 70px;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.header-menu .link {
	padding: 10px 10px;
}

.header-menu .button-sm {
	margin-left: 10px;
}

.hero {
	height: 700px;
	background: url('./images/desk-4.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.hero .bg-overlay {
	/* background: rgba(114, 114, 114, 0.3); */
	background: rgba(59, 88, 184, .3);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.hero-title {
	color: white;
	text-align: center;
	position: relative;
}

.hero-title h2 {
	margin-bottom: 20px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.link {
	font-weight: 300;
	color: #666;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
}

.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Button Styles */
.button-sm {
	display: inline-block;
	background: rgba(241, 104, 118, 1);
	color: white;
	padding: 10px 25px;
	text-decoration: none;
	transition: background .3s ease;
}

.button-sm:hover {
	cursor: pointer;
	background: rgba(185, 75, 86, 1);
	color: white;
}

.button {
	display: inline-block;
	background: rgba(241, 104, 118, 1);
	color: white;
	padding: 15px 45px;
	text-decoration: none;
	transition: background .3s ease-out;
}

.button:hover {
	cursor: pointer;
	background: white;
	color: rgba(241, 104, 118, 1);
	box-shadow: 0px 0px 0px 2px rgba(241, 104, 118, 1) inset;
}

label {
	display: block;
	margin-bottom: 5px;
	width: 300px;
}

.form-input {
	background: #fff;
	font-size: 16px;
	border: none;
	padding: 10px 25px;
	width: 300px;
	margin-bottom: 10px;
}

.container {
	padding: 0 15px;
	height: 500px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.graphic {
	width: 50%;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.graphic img {
	width: 300px;
}

.content {
	width: 350px;
}

.content h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 40px;
}

.content p {
	margin-bottom: 40px;
	color: #666;
	line-height: 1.5;
}

.team {
	background: rgb(59, 88, 184, .5);
	/* background:#000 url('./images/concrete-texture.png') repeat; */
	/* background-size: cover; */
	position: relative;
}

.team .bg-overlay {
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.team .container {
	flex-direction: row-reverse;
}

.team .graphic {
	position: relative;
}

.team .ruben-circle {
	width: 250px;
	height: 250px;
	background: url('./images/ruben.jpg') no-repeat;
	background-size: cover;
	border-radius: 200px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	border: 5px solid white;
}

.team .candice-circle {
	width: 150px;
	height: 150px;
	background: url('./images/candice.jpg') no-repeat;
	background-size: cover;
	border-radius: 100px; 
	position: absolute;
	left: 0;
	border: 3px solid rgba(241, 104, 118, 1);
}

.team .other-circle {
	width: 150px;
	height: 150px;
	background: url('./images/other-circle.svg') no-repeat;
	background-size: cover;
	border-radius: 100px;
	position: absolute;
	right: 0;
	border: 3px solid rgba(241, 104, 118, 1);
}

.clients .graphic img {
	width: 100px;
}

.clients .content {
	width: 100%;
}

.clients .content .button {
	display: inline-block;
	margin: 0 auto;
}

.clients .client-images {
	display: flex;
	justify-content: space-evenly;
	/* margin-bottom: 60px; */
}

.clients .client-images img {
	width: 150px;
}

.contactus {
	background: rgb(59, 88, 184, .1);
	text-align: center;
}

.contactus .content {
	width: 100%;
}

footer {
	font-family: Helvetica, sans-serif;
	background: #efefef;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #ddd;
	font-size: 12px;
	color: #666;
}